/vendor
/node_modules
/public/build
/public/hot
/public/storage

/storage/*
!/storage/.gitignore
/bootstrap/cache/*.php

.env
.env.backup
.env.production

Homestead.json
Homestead.yaml

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.idea
/.vscode
/.fleet
/.zed

*.log
*.key
.DS_Store
Thumbs.db
auth.json
