@import "tailwindcss";

/*
  Estas diretivas @source são essenciais para que o @tailwindcss/vite
  saiba onde procurar por classes que você está usando.
*/
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
